## Nasser Mohammed
### Analysis Pipeline

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns
import csv
from detect_delimiter import detect

### 1. Load Data

In [4]:
with open('../../data/raw/pwt100.csv') as f:
    print(f)
    lines = f.readlines()
    print(f'Delimiter: "{detect(lines[1])}"')


#Example:
#Checking the file type, encoding on file, & delimiter
#file type: .csv
#encoding: 'cp1252'
#delimiter: ","

<_io.TextIOWrapper name='../../data/raw/pwt100.csv' mode='r' encoding='cp1252'>
Delimiter: ","

In [6]:
# Now we can properly import our data
pwt = pd.read_csv("../../data/raw/pwt100.csv",encoding='cp1251')

### 2. Clean Data

In [7]:
pwt_s = pwt[['countrycode', 'country', 'currency_unit', 'year', 'rgdpe', 'rgdpo',
       'pop', 'emp', 'avh', 'hc',  'cn', 'ctfp']].copy()

# we create a smaller data frame with the columns we're actually interested in

In [8]:
pwt_s.head()

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,cn,ctfp
0,ABW,Aruba,Aruban Guilder,1950,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,Aruban Guilder,1951,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,Aruban Guilder,1952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,Aruban Guilder,1953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,Aruban Guilder,1954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
pwt_s = pwt_s.dropna(subset=['pop'])  #Dropping rows where there is NaN values where we'd need actual data
pwt_s.head()

,countrycode,country,currency_unit,year,rgdpe,rgdpo,pop,emp,avh,hc,cn,ctfp
20,ABW,Aruba,Aruban Guilder,1970,400.081726,463.304108,0.059063,NaN,NaN,NaN,1313.093384,NaN
21,ABW,Aruba,Aruban Guilder,1971,436.486054,504.684326,0.059440,NaN,NaN,NaN,1440.541504,NaN
22,ABW,Aruba,Aruban Guilder,1972,476.160919,550.488647,0.059840,NaN,NaN,NaN,1580.743164,NaN
23,ABW,Aruba,Aruban Guilder,1973,519.418701,599.462647,0.060243,NaN,NaN,NaN,1732.009155,NaN
24,ABW,Aruba,Aruban Guilder,1974,566.945679,652.476135,0.060528,NaN,NaN,NaN,1902.454834,NaN

In [10]:
pwt_s = pwt_s[pwt_s['year'] > 1970] #Removing rows we're not interested in